<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/accueil.css">
	<link rel="stylesheet" href="/css/gerant.css">
	<link rel="stylesheet" href="/css/recherche.css">
    <title>Page de connexion</title>
</head>
<body>
    <header class="headerGerant">
		<img src="/src/logo/logo.png" alt="" srcset="">
        <h1>Friperie Solidaire</h1>
		<nav>
			<ul>
				<li><a href="/supprimerGerant">Supprimer</a></li>
				<li><a href="/ajoutGerant">Ajouter</a></li>
				<li><a href="/modificationGerant">Modifier</a></li>
				<li><a href="/commandes">Commandes</a></li>
			</ul>
		</nav>
    </header>
    <div class="principale">
        <div class="gauche" style="background-image: url('../src/Index-img/01.jpg');">
			<% produits.tab.forEach(function(prod) { %>
				<div class="produit">
					<img src="<%= prod.image_produit %>" alt="">
					<div class="bloc">
						<div class="id" style="display: none;"><p><%= prod.id_produit %></p></div>
						<div class="titre"><h2><%= prod.nom_produit %></h2></div>
						<div class="description"><p><%= prod.description %></p></div>
						<div class="prix">
							<h2><%= prod.prix_produit %></h2>
							<form action="/supprimerGerant/confirmation" method="post">
								<input type="text" value="<%= prod.id_produit %>" name="produit" style="display: none;">
								<button type="submit" style="width: 100px;">Supprimer</button>
							</form>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
        <div class="droite">
			<h2 style="color: red;"><%= reponse.messageErreur %></h2>
            <div class="rechercher">
                <form action="/supprimerGerant" method="post">
                    <input type="text" placeholder="Rechercher..." name="produit">
                    <button type="submit"><img src="/src/recherche.png" alt=""></button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; Chikhaoui Zineddine et Azem Amar, Friperie Solidaire, Progamation Web, Tous droits réservés</p>
    </footer>
    <script src="/scripts/index.js"></script>
</body>
</html>